@import '../abstract/variables';

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 20px;
    z-index: 1;
    transition: bacckground 0.3s linear;
    .logo{
        float: left;
    }
    .menu{
        list-style: none;
        list-style: none;
	    float: left;
	    padding: 10px 0;
        margin-left: 100px;
        li{
            display: inline-block;
            a{
                position: relative;
	            text-decoration: none;
	            color: $black-color;
	            font-family: $primary-font;
	            margin-right: 30px;
                vertical-align: middle;
                &::after , &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -10px;
                    width: 100%;
                    height: 2px;
                    background-color: currentColor;
                    transition-property: transform;
                    transition-timing-function: cubic-bezier(.5,0,.1,1);
                }
                &::before{
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: left center;
                    transition-duration: 0s;
                }
                &::after{
                    right: 0;
                    transform: scaleX(0);
                    transform-origin: right center;
                    transition-duration: .4s;
                }
                &.active{
                    color: $brand-color;
                }
            }
            &:hover::before{
                transform: scaleX(1);
                transition-duration: .4s;
            }
            &:hover::after{
                transform: scaleX(1);
                transition-duration: 0s;
                transition-delay: .4s;
            }
        }
    }
    .menu-btn{
        display: none;
        text-decoration: none;
        color: $black-color;
        font-family: $primary-font;
        font-size: 18px;
        font-weight: 700;
    }
    .action{
        float: right;
        text-decoration: none;
        color: $white-color;
        font-family: $primary-font;
        padding: 15px 20px;
        border: solid 1px $white-color;
        border-radius: 5px;
        &:hover{
            background: $brand-color;
            border-color: $brand-color;
            box-shadow: 0 13px 20px 0 rgba(118, 196, 125, 0.41);
        }
    }
    &.sticky{
        background: $white-color;
        z-index: 100;
        box-shadow: 0 5px 5px 5px rgba(0,0,0,0.5);
        .action{
            background: $brand-color;
            border-color: $brand-color;
            box-shadow: 0 13px 20px 0 rgba(118, 196, 125, 0.41);
        }
    }
}

.hidden-menu{
    background: $white-color;
	position: absolute;
	top: 100px;
	width: 100%;
	max-height: 0px;
	overflow: hidden;
	transition: all 0.5s ease;
    text-align: center;
    li{
        padding: 10px;
        a{
            text-decoration: none;
	        color: $black-color;
	        font-family: 'Chivo', sans-serif;
        }
    }
    &.show{
        max-height: 240px;
    }
}