@import '../abstract/variables';

// container 
.container{
    max-width: $max-width;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 50px;
}

// clearfix
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}