// Color variables
$brand-color: #66bb6a;
$heading-color: #000000;
$primary-color: #263238;
$secondary-color: #ffffff;

//font-family
$primary-font: 'Chivo', sans-serif;

//container width
$max-width: 1200px;

//hero-background


//breakpoints
$breakpoints: (
    'phone': 500px,
    'tablet': 768px,
    'laptop': 980px,
);